@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

:root {
  --maxSpacing: 3px;
  --minSpacing: 1.2px;
}

.ranked {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  margin: 3% 5%;
  margin-bottom: 0;
  min-height: 20vh;
  width: 20%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(1.5px);
}
h1 {
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  letter-spacing: var(--maxSpacing);
}

@media screen and (max-width: 800px) {
  .ranked {
    background-attachment: scroll;
    text-align: center;
    align-items: center;
  }
  .card {
    width: 30%;
    min-height: 30vh;
  }
  h1 {
    margin-top: 10%;
    font-size: 1.5rem !important;
  }
  .tab__card{
    flex-direction: column;
  }
  .tab__card img{
    height: 4rem !important;
    width: 4rem !important;
  }
  .tab__card-img{
    margin-top: 3% !important;
  }
  .mobile__card h1{
    font-size: 1.7rem !important;
  }
  .tab__card-dominance{
    margin-top: 20% !important;
  }
}
@media screen and (max-width: 450px) {
  .ranked {
    flex-direction: column;
    background-attachment: scroll;
    text-align: center;
    align-items: center;
  }
  .card {
    width: 80%;
    min-height: 30vh;
  }
  h1 {
    margin-top: 10%;
    font-size: 2.5rem !important;
  }
  
}
@media screen and (max-width: 380px) {
  .ranked {
    flex-direction: column;
    background-attachment: scroll;
    text-align: center;
    align-items: center;
  }
  .card {
    width: 80%;
    min-height: 30vh;
  }
  h1 {
    margin-top: 10%;
    font-size: 2.3rem !important;
  }
  .mobile__card {
    margin-top: 3% !important;
  }
}
