@import url("https://fonts.googleapis.com/css2?family=Esteban&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --mainBlack: #212121;
  --mainOrange: #fe6546;
  --mainWhite: #ffffff;

  --primaryBlack: #000000;
  --secondaryBlack: #3e3e3e;
  --primaryWhite:#5a5a5a;
  --secondaryWhite: #c6c4c4; 
  

  --maxSpacing: 1.3px;
  --minSpacing: 1.2px;
}

.ct__main {
  background-color: var(--primaryBlack);
  min-height: 80vh;
  position: relative;
}
.ct__table {
  flex: 1;
  background: linear-gradient(to right, #212121, #3e3e3e, #212121) !important;
  border-radius: 40px;
  min-height: 30vh;
  width: 90%;
  margin: 3% 5% 1% 5%;

  background: rgba(116, 112, 112, 0.3);
  box-shadow: 0 4px 30px rgba(40, 40, 40, 0.01);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(75, 74, 74, 0.18);
}
.ct__search {
  position: absolute;
  margin-left: 83%;
  margin-top: 1%;
  width: 15%;
  border-radius: 5rem;
  background-color: var(--primaryBlack);
  padding: 0.2%;
}
.ct__searchbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  border-radius: 5rem;
  background-color: var(--primaryBlack);
  padding: 0.5rem;
}
.ct__searchInput {
  width: 100%;
  border: none;
  background-color: transparent;
  border-style: none;
  outline: none;
  margin-left: 5%;
  caret-color: var(--mainWhite);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.2rem;
  color: var(--mainWhite);
}
.ct__table-main {
  padding-top: 5%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.ct__table-head th {
  text-align: center;
  color: var(--secondaryWhite);
  font-weight: 500;
  opacity: 0.55;
  font-family: "Poppins", sans-serif;
  padding: 20px 90px;
  border: none;
}

.ct__table-body-row {
  cursor: pointer;
}
.ct__table-body-row :hover {
  background-color: var(--secondaryBlack);
}
.ct__table-row:before {
  content: "";
  position: absolute;
  width: 75%;
  border-bottom: 2px solid var(--primaryWhite);
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  left: 5%;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}
li .MuiPaginationItem-root {
  color: var(--mainWhite);
}
li .Mui-selected {
  background-color: var(--secondaryBlack) !important;
}
th .Mui-active,
.MuiTableSortLabel-icon {
  color: var(--mainOrange) !important;
}

@media screen and (max-width: 800px) {
  .ct__search {
    width: 30%;
    margin-left: 40%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 700px) {
  .ct__search {
    margin-left: 35%;
    width: 40%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 450px) {
  .ct__search {
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    padding: 0.4rem;
  }
}
