@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

:root{
    --mainBlack:#212121;
    --mainOrange:#fe6546;
    --mainWhite:#ffffff;
}
a{
    text-decoration: none;
    color: gold;
    font-family: 'Montserrat', sans-serif;
}
.main{
    background-color: black;
    min-height: 100vh;
}